@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: var(--light);
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 0.75rem;
}

.menu {
    background-color: var(--coral); 
}

.menu__container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.menu__item {
    padding: 10px 20px;
    margin: 2px;
    font-size: 1.5rem;
    border-radius: 15px;
    list-style-type: none;
}

a:link { 
    color:  var(--light);
}

a:hover { 
    color:  var(--dark);
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
    margin: 10px;
    max-width: min-content;
}

img {
    width: 250px;
}

@media only screen and (max-width: 700px) {

    .ipsum {
        display:none;
    }
    h1, h2 {
        text-align: center;
    }
}

@media only screen and (min-width: 700px) {

    h1 {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2.0rem;
    }

    p {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 4.0rem;
    }

    h2 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 3.0rem;
    }

    p {
        font-size: 2.0rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light);
        color: var(--dark);
    }
}